
.App {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.App-main {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  min-width: 300px;
  flex: 2;
  align-items: stretch;
  overflow: hidden;
}

.App-sidemenu {
  display: flex;
  max-width: 400px;
  flex-flow: nowrap row;
}

.App-rightmenu {
  display: flex;
  flex-flow: column nowrap;
  min-width: 600px;
  min-height: 200px;
  max-width: 600px;
  overflow: scroll;
}

.App-display {
  display: flex;
  flex: 1 1 auto;
}

.App-footer {
  color: white;
}